# Get your Together AI API Key here: https://api.together.xyz/settings/api-keys
TOGETHER_API_KEY=70d6f83c63a68855128ba415eb4fbee3fac0c0fa958721ca7b2e09582e6380a2

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=bdd7abe710c1ed89ad0d996d1b194a22

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xMbNdh0vFcNqhnoY_gqoPlrI6yOCQIiQe6IzdaVSQNhhqqe"

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:npg_jbi7huDMqP0g@ep-lucky-dawn-a1iujrff-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

